doctype 5
html(lang="en")
  head
    title= "Rogue Docs"
    link(rel='stylesheet', href='coffee.css')

  body
    ul
      each item in dox
        li
          h3= "Description"
          p!= item.description.full
          h3= "Code"
          pre
            code.coffee!= item.code
          ul
            each child in item.children
              li
                h3= "Description"
                p!= child.description.full
                h3= "Code"
                pre
                  code.coffee!= child.code